main {
  color: rgb(0, 217, 255);
  width: 60%;
  text-align: center;
}

.introduction {
  font-size: 2.5em;
}

.proj-text {
  margin-top: 10%;
  text-decoration: underline;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  height: 45%;
  margin-left: 8%;
  padding-top: 3%;
  width: 85%;
}

.projects img {
  border-radius: 50%;
  box-shadow: 0 0 25px 5px rgba(255, 255, 255, 0.4);
  height: 9em;
  width: 9em;
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  50% {
    transform: scale(1);
    box-shadow: 0 0 10px 40px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.98);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.projects img:hover {
  animation: pulse 1.4s infinite;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 3%; */
  margin-left: 43%;
  width: 15%;
}

.github-icon, .linkedin-icon {
  height: 3em;
  width: 3em;
  color: white
}

.github-icon:hover, .linkedin-icon:hover {
  transform: scale(1.1);
  cursor:pointer;
}